{% extends "base.html" %} {% block title %}Login{% endblock %} {% block
container_class %}full-width-container{% endblock %} {% block content %}
<div class="login-hero">
  <div class="login-card">
    <h2>Login</h2>

    <form method="POST">
      <label>Email:</label>
      <input
        type="email"
        name="email"
        placeholder="Enter your email"
        required
      />

      <label>Password:</label>
      <input
        type="password"
        name="password"
        placeholder="Enter your password"
        required
      />

      <button type="submit">Login</button>
    </form>
  </div>
  {% endblock %}
</div>
